@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  /********** Primary Colours *************/
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  /********** Neutral Colours *************/
  --dark-grayish-red: hsl(0, 6%, 24%);
  /********** Gradients *************/
  --linear1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
body,
html,
.card,
.main {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

body > * {
  font-family: "Josefin Sans", sans-serif;
}

.main {
  background-image: var(--linear1);
}

.logo {
  margin: 2rem 2rem 1.5rem 2rem;
}

.card {
  max-width: 375px;
  position: relative;
  margin: 0 auto;
}

.mobile-model {
  display: block;
  position: relative;
  margin: 0 auto;
}

.content {
  margin: 1.25rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.content > p {
  padding: 0 1rem;
  margin: 0;
}

.content > h1 {
  letter-spacing: 6pt;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--dark-grayish-red);
}

.t-center {
  text-align: center;
}

.u-case {
  text-transform: uppercase;
}

.de-red {
  color: var(--desaturated-red);
}

.soft-red {
  color: var(--soft-red);
}

.w-100 {
  font-weight: 100;
}

.w-200 {
  font-weight: 200;
}

.w-400 {
  font-weight: 400;
}

.w-600 {
  font-weight: 600;
}

.form {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3.5rem;
}

.invalid {
  padding-left: 3.5rem;
  margin-left: 2rem;
  font-size: 12px;
  margin-top: -1.25rem;
  position: absolute;
  transform: translate(-6.5rem, 3rem);
  -webkit-transform: translate(-6.5rem, 3rem);
  -moz-transform: translate(-6.5rem, 3rem);
  -ms-transform: translate(-6.5rem, 3rem);
  -o-transform: translate(-6.5rem, 3rem);
}

.hidden {
  display: none;
}

.error-icon {
  position: absolute;
  transform: translate(-5rem, -0.75rem);
  -webkit-transform: translate(-5rem, -0.75rem);
  -moz-transform: translate(-5rem, -0.75rem);
  -ms-transform: translate(-5rem, -0.75rem);
  -o-transform: translate(-5rem, -0.75rem);
}

.email-box {
  flex-grow: 1;
  color: var(--desaturated-red);
  background: transparent;
  padding: 0.75rem 1rem;
  border: 1px solid var(--desaturated-red);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.email-box::placeholder {
  color: var(--desaturated-red);
  font-weight: 400;
}

.s-button {
  padding: 0.65rem 1.75rem;
  transform: translate(-3rem, 0);
  -webkit-transform: translate(-3rem, 0);
  -moz-transform: translate(-3rem, 0);
  -ms-transform: translate(-3rem, 0);
  -o-transform: translate(-3rem, 0);
  border: none;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  box-shadow: var(--desaturated-red) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.s-button:hover {
  cursor: pointer;
  filter: contrast(130%) brightness(110%);
  -webkit-filter: contrast(130%) brightness(110%);
}

.s-button--red {
  background-image: var(--linear2);
}

@media screen and (max-width: 1079px) {
  .desktop-hide {
    display: none;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }
}
